.search-result {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: .68rem;
  padding: 0 .15rem 0;
  background: #FAF9FC;

  h4 {
    font-size: .16rem;
    color: #8560A9;
  }

  p {
    font-size: .12rem;
    color: #67616D;
    margin-top: .08rem;
  }

  button {
    position: absolute;
    right: .16rem;
    top: .1rem;
    padding: 0 .1rem;
    height: .24rem;
    border-radius: .24rem;
    background: #D5EF7F;
    font-size: .1rem;
    color: #67616D;
    text-align: center;
    line-height: .24rem;
  }
}