@import '../../../scss/function';
@import '../../../scss/color';

.result-box {
  position: relative;
  padding: tounit(14px 15px 11px 27px);
  background: $background;
  .result-num {
    color: $primary;
    font-size: tounit(16px);
  }
  .clear-search {
    position: absolute;
    display: inline-block;
    top: tounit(12px);
    right: tounit(15px);
    padding: tounit(6px 10px);
    color: $primary-neutral;
    font-size: tounit(10px);
    border-radius: 24px;
    background: $complement;
  }
  .search-type {
    margin-top: tounit(10px);
    color: $primary-neutral;
    font-size: tounit(12px);
  }
}
