.wp-toast {
  position: relative;
  width: 100%;
  height: .32rem;
  overflow: hidden;

  p {
    position: absolute;
    left: 0;
    right: 0;
    top: -.32rem;
    width: 100%;
    height: .32rem;
    background: rgba(229, 247, 169, 0.8);
    font-size: .14rem;
    color: #8560A9;
    text-align: center;
    line-height: .32rem;
    transition: top .5s;
  }

  &.active {
    p {
      top: 0;
    }
  }
}