.channel-list{
  width: 2.4rem;
  margin-top:0.4rem;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;

}  

.channelcard{
  margin-top:0.09rem;
  margin-left:0.16rem;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 0.12rem;
  line-height: 0.2rem;
  padding: 0 0.08rem;
  border-radius: 0.1rem;
  border: 0.01rem solid #D3C1E5;  
}



