.main,
.emptyPanel {
    padding-top: 0.5rem;
}
.emptyPanel {
    padding-top: 8.6rem;
    text-align: center;
    color: #BABABA;
}

.emptyPanel svg {
    width: 4.3rem;
    fill: #D3C1E5;
}

.footer {
    position: relative;
    height: 3px;
    width: 100vw;
    bottom:50vh;
}