@import '../../../scss/function';
@import '../../../scss/color';

.comment-wrapper {
  padding-left: tounit(16px);
  margin-bottom: tounit(16px);
  .comment-user {
    display: inline-block;
    width: tounit(32px);
    height: tounit(32px);
    margin-right: tounit(12px);
    border-radius: 50%;
  }
  .comment-box-inner {
    position: relative;
    display: inline-block;
    width: tounit(244px);
    vertical-align: top;
    .comment-info {
      margin-bottom: tounit(4px);
    }
    .comment-name {
      display: inline-block;
      margin-right: tounit(12px);
      color: $primary;
      font-size: tounit(12px);
    }
    .comment-time {
      color: $disabled-text-light;
      font-size: tounit(10px);
    }
    .comment-text {
      padding-right: tounit(16px);
      color: $disabled-text-dark;
      font-size: tounit(14);
    }
    .shopee-reply {
      position: absolute;
      top: 0;
      right: 0;
      color: $complement;
      font-size: tounit(16px);
    }
  }
}
