@import '../../scss/color';
@import '../../scss/function';

.event-wrapper {
  padding: tounit(16px);
  border-bottom: tounit(1px) solid #e8e8e8;
  .event-header {
    height: tounit(20px);
    line-height: tounit(20px);
    vertical-align: middle;
    margin-bottom: tounit(8px);
  }
  .avatar {
    display: inline-block;
    width: tounit(20px);
    height: tounit(20px);
    margin-right: tounit(8px);
    border-radius: 50%;
  }
  .username {
    position: relative;
    display: inline-block;
    top: tounit(-5px);
    color: $primary-neutral;
    font-weight: 600;
  }
  .channel {
    float: right;
    padding: 0 tounit(10px);
    color: $primary;
    border: tounit(1px) solid $primary;
    border-radius: tounit(20px);
  }
  .username,
  .channel {
    font-size: tounit(12px);
  }
  .event-content {
    position: relative;
    margin-bottom: tounit(12px);
  }
  .event-title {
    margin-bottom: tounit(8px);
    color: $primary-dark;
    font-size: tounit(16px);
    font-weight: 600;
    &.narrow {
      width: tounit(216px);
    }
  }
  .event-img {
    float: right;
    margin-left: tounit(4px);
    width: tounit(64px);
    height: tounit(64px);
  }
  .event-during {
    display: inline-block;
    .shopee-time::after {
      display: inline-block;
      content: '';
      width: tounit(2px);
    }
    color: $primary;
    font-size: tounit(10px);
  }
  .event-desc {
    display: -webkit-box;
    /* 处理低版本浏览器不支持css多行省略 */
    height: tounit(39px);
    margin-bottom: tounit(12px);
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: #67616d;
    font-size: tounit(13px);
  }
  .event-footer {
    font-size: tounit(12px);
    .shopee-check-outline,
    .shopee-like-outline {
      color: #ac8ec9;
    }
    .shopee-check {
      color: $complement-dark1;
    }
    .shopee-like {
      color: #fe5c5c;
    }
  }
  .going-status,
  .like-status {
    display: inline-block;
    margin-right: tounit(30px);
  }
}
