@import '../../scss/function';
@import '../../scss/color';

// 分隔线
.divider::after {
  content: '';
  display: block;
  height: tounit(1px);
  margin-left: tounit(16px);
  background: #e8e8e8;
}

.detail-wrapper {
  padding-bottom: tounit(56px);
  .detail-header {
    padding: tounit(16px 16px 24px 16px);
    border-bottom: tounit(1px) solid #e8e8e8;
    .channel-name {
      display: inline-block;
      margin-bottom: tounit(12px);
      padding: tounit(2px 8px);
      color: $primary;
      font-size: tounit(10px);
      border: tounit(1px) solid $primary-light;
      border-radius: tounit(20px);
    }
    .event-name {
      margin-bottom: tounit(20px);
      color: $primary-dark;
      font-size: tounit(17px);
      font-weight: 500;
      line-height: 1.2;
    }
    .user-avator {
      display: inline-block;
      width: tounit(36px);
      height: tounit(36px);
      border-radius: 50%;
    }
    .user-info {
      display: inline-block;
      height: tounit(36px);
      margin-left: tounit(12px);
      vertical-align: tounit(6px);
    }
    .user-name {
      display: block;
      color: $primary-neutral;
      font-size: tounit(14px);
    }
    .create-time {
      color: $disabled-text-light;
      font-size: tounit(12px);
    }
  }
  .event-type {
    height: tounit(45px);
    line-height: tounit(45px);
    border-bottom: tounit(1px) solid #e8e8e8;
    box-sizing: border-box;
    .type-item {
      display: inline-block;
      width: 33%;
      height: tounit(17px);
      color: #8c8c8c;
      font-size: tounit(12px);
      text-align: center;
      line-height: tounit(17px);
      border-right: tounit(1px) solid #e8e8e8;
      [class^='shopee-'],
      [class*=' shopee-'] {
        margin-right: tounit(6px);
        font-size: tounit(16px);
        vertical-align: tounit(-1px);
      }
      &:last-child {
        border-right: 0px;
      }
      // 修改content
      .shopee-info:before {
        content: '\e90a';
      }
      .shopee-people:before {
        content: '\e913';
      }
      .shopee-comment:before {
        content: '\e902';
      }
      &.is-view {
        color: $complement-dark1;
        .shopee-info:before {
          content: '\e90b';
        }
        .shopee-people:before {
          content: '\e914';
        }
        .shopee-comment:before {
          content: '\e903';
        }
      }
    }
  }
  .detail-content {
    .event-info {
      border-bottom: #e8e8e8;
    }
    .event-desc {
      padding: tounit(16px 16px 24px 16px);
      color: $primary-neutral;
      font-size: tounit(12px);
      line-height: 1.2;
    }
  }
  // 时间
  .data-box {
    padding: padding(16px);
  }
  .date-item {
    display: inline-block;
    width: 49%;
    padding: tounit(10) 0;
    color: $primary-neutral;
    font-size: tounit(16px);
    text-align: center;
    border-right: tounit(1px) solid #e8e8e8;
    [class^='shopee-'],
    [class*=' shopee-'] {
      margin-right: tounit(6px);
      color: $complement;
    }
    &:last-child {
      border-right: 0;
    }
  }

  .info-box {
    padding: tounit(16px);
  }
  .event-element {
    margin-bottom: tounit(10px);
    color: $primary;
    font-size: tounit(16px);
    line-height: tounit(16px);
    &::before {
      content: '';
      display: inline-block;
      height: tounit(16px);
      width: tounit(4px);
      margin-right: tounit(8px);
      border-radius: tounit(4px);
      background: $primary;
    }
  }
  .main-address,
  .sub-address {
    display: block;
    color: $primary-neutral;
    font-size: tounit(14px);
  }
  .main-address {
    margin-bottom: tounit(4px);
    font-weight: 500;
  }
  // join & like
  .user-box {
    padding: tounit(16px);
    padding-bottom: 0;
    border-top: tounit(1px) solid #e8e8e8;
    .join-user,
    .like-user {
      padding-top: tounit(12px);
    }
    .user-type {
      display: inline-block;
      width: tounit(75px);
      color: $primary-neutral;
      font-size: tounit(12px);
      vertical-align: top;
    }
    [class^='shopee-'],
    [class*=' shopee-'] {
      margin-right: tounit(6px);
      color: #ac8ec9;
    }
    .avator-box {
      display: inline-block;
      width: tounit(210px);
      min-height: tounit(20px);
    }
    .avator-item {
      display: inline-block;
      width: tounit(24px);
      height: tounit(24px);
      margin-right: tounit(6px);
      margin-bottom: tounit(12px);
      border-radius: 50%;
      &:nth-child(7n) {
        margin-right: 0;
      }
    }
  }
  .detail-footer {
    position: fixed;
    bottom: 0;
    width: tounit(320px);
    height: tounit(56px);
    text-align: center;
    line-height: tounit(68px);
    [class^='shopee-'],
    [class*=' shopee-'] {
      font-size: tounit(24px);
    }
    .left-container,
    .right-container {
      display: inline-block;
      height: 100%;
    }
    .left-container {
      width: tounit(180px);
      color: $primary-dark;
      background: $primary;
    }
    .right-container {
      width: tounit(140px);
      color: #788c36;
      font-size: tounit(14px);
      background: $complement;
    }
    .shopee-comment-single {
      margin-right: tounit(48px);
    }
    .shopee-check-outline {
      margin-right: tounit(12px);
    }
    .text {
      position: relative;
      display: inline-block;
      top: tounit(-5px);
    }
  }

  // comment
  .comment-box {
    padding-top: tounit(24px);
    border-top: tounit(1px) solid #e8e8e8;
  }
}
