.container {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.gallery {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;
}

.gallery img {
  display: inline-block;
  width: 12.9rem;
  height: 8.1rem;
  border-radius: 0.6rem;
}

.gallery img:not(:first-child) {
  margin-left: 1rem;
}

.description {
  color: $primary-neutral;
  position: relative;
  margin-bottom: 1rem;
}

.expend_cover {
  height: 4rem;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(rgba(250, 249, 252, 0), rgba(250, 249, 252, .7), $white);
}

.expend_button {
  position: absolute;
  padding: 0.5rem 0.8rem;
  right: 1rem;
  bottom: 0;
  border-radius: 1rem;
  font-size: 0.7rem;
  line-height: 0.7rem;
  color: $primary-neutral;
  background-color: $complement;
  font-weight: $semibold;
}

.when {
  padding: 1.5rem 0;
  border-top: $border-light 1px solid;
  border-bottom: $border-light 1px solid;

  :global(.iconfont) {
    font-size: 1.5rem;
    color: $complement;
  }
}

.where {
  padding: 1.5rem 0;
  border-bottom: $border-light 1px solid;
}

.when_title,
.where_title {
  padding-left: 2.5vw;
  font-size: 5vw;
  font-weight: $bold;
  line-height: 6.25vw;
  color: $primary;
  position: relative;
}

.when_title:before,
.where_title:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.3rem;
  height: 1.5rem;
  border-radius: 3px;
  background-color: $primary;
  content: "";
}

.when_detail {
  margin-top: 1rem;
}

.date {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}

.date:first-child {
  border-right: $border-light 1px solid;
}

.date>span {
  color: $primary-neutral;
  vertical-align: top;
  padding-left: 0.3rem;
}

.time {
  color: $complement-dark1;
}

.time span:first-child {
  font-size: 2.3rem;
  padding-right: 0.5rem;
}

.where_location {
  color: $primary-dark;
  font-weight: $semibold;
  margin-top: 0.7rem;
}

.where_detail {
  color: $primary-neutral;
}

.where img {
  height: 7.3rem;
  width: 100%;
  border-radius: 0.6rem;
  margin-top: 1rem;
}