@import '../../scss/color';
@import '../../scss/function';

.sideSearch {
  position: relative;
  display: inline-block;
  width: p2w(240);
  height: 100vh;
  font-size: p2w(12);
  vertical-align: top;
  background-color: $primary-dark;
  overflow: hidden;
  transition: width 300ms ease-in-out;
  &.hide {
    width: 0;
  }
  .search-header {
    padding: p2w(10) 0;
    color: #ac8ec9;
    text-align: center;
    &-text {
      display: inline-block;
      &::after {
        content: '';
        display: block;
        width: 100%;
        margin-top: p2w(2);
        border-bottom: p2w(1) solid #ac8ec9;
      }
    }
  }
  .search-channel {
    padding: 0 p2w(16);
    .channel-item {
      display: inline-block;
      height: p2w(24);
      margin-right: p2w(12);
      margin-bottom: p2w(9);
      padding: 0 p2w(9);
      color: #fff;
      line-height: p2w(24);
      box-sizing: border-box;
      border: p2w(1) solid $primary-light;
      border-radius: p2w(24);
      &.is-selected {
        color: $primary-dark;
        background: $complement-light;
      }
    }
  }
  .search-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: p2w(64);
    text-align: center;
    color: $disabled-text-dark;
    font-weight: 600;
    line-height: p2w(64);
    background: $disabled-text-light;
    &.is-selected {
      color: $primary-dark;
      background: $complement-light;
    }
    .icon-search {
      margin-right: p2w(6);
    }
  }
}
