@import '../../scss/color';
@import '../../scss/function';

.sideSearch {
  position: relative;
  display: inline-block;
  width: tounit(240px);
  height: 100vh;
  font-size: tounit(12px);
  vertical-align: top;
  background-color: $primary-dark;
  overflow: hidden;
  transition: width 300ms ease-in-out;
  &.hide {
    width: 0;
  }
  .search-header {
    padding: tounit(10px) 0;
    color: #ac8ec9;
    text-align: center;
    &-text {
      display: inline-block;
      &::after {
        content: '';
        display: block;
        width: 100%;
        margin-top: tounit(2px);
        border-bottom: tounit(1px) solid #ac8ec9;
      }
    }
  }
  .search-channel {
    padding: 0 tounit(16px);
    .channel-item {
      display: inline-block;
      height: tounit(24px);
      margin-right: tounit(12px);
      margin-bottom: tounit(9px);
      padding: 0 tounit(9px);
      color: #fff;
      line-height: tounit(24px);
      box-sizing: border-box;
      border: tounit(1px) solid $primary-light;
      border-radius: tounit(24px);
      &.is-selected {
        color: $primary-dark;
        background: $complement-light;
      }
    }
  }
  .search-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: tounit(64px);
    text-align: center;
    color: $disabled-text-dark;
    font-weight: 600;
    line-height: tounit(64px);
    background: $disabled-text-light;
    &.is-selected {
      color: $primary-dark;
      background: $complement-light;
    }
    .shopee-search {
      margin-right: tounit(6px);
    }
  }
}
