@import '../../scss/color';
@import '../../scss/function';

.header-wrapper {
  position: relative;
  padding: 0 p2w(14);
  height: p2w(40);
  width: 100%;
  font-size: p2w(24);
  text-align: center;
  line-height: p2w(40);
  background: $primary;
  box-sizing: border-box;
  .icon-logo-cat {
    color: $complement;
  }
  .icon-search,
  .icon-home {
    position: absolute;
    top: p2w(8);
    left: p2w(14);
    color: $primary-dark;
  }
  .user-avatar {
    position: absolute;
    top: p2w(7);
    right: p2w(14);
    width: p2w(24);
    height: p2w(24);
    border-radius: 50%;
  }
}
