@import '../../scss/function';
@import '../../scss/color';

.header-wrapper {
  position: relative;
  padding: 0 tounit(14px);
  height: tounit(40px);
  width: 100%;
  font-size: tounit(24px);
  text-align: center;
  line-height: tounit(40px);
  background: $primary;
  box-sizing: border-box;
  .shopee-logo-cat {
    color: $complement;
  }
  .shopee-search,
  .shopee-home {
    position: absolute;
    top: tounit(8px);
    left: tounit(14px);
    color: $primary-dark;
  }
  .user-avatar {
    position: absolute;
    top: tounit(7px);
    right: tounit(14px);
    width: tounit(24px);
    height: tounit(24px);
    border-radius: 50%;
  }
}
