.picker-container {
  display: block;
  width: 100%;
  padding: 0 0.1rem;
}

.picker-content {
  background-color: #fff;
  height: 0.32rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.06rem;
  box-sizing: border-box;
}
.picker-content >span {
  display: flex;
  align-items: center;
}

.picker-content .picker-time {
  display: inline-block;
  width: 0.8rem;
  margin-left:-0.5rem;
}
  
.picker-container input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.12rem;
  line-height: 0.18rem;
  color: #8560A9;
  text-align: center;
  -webkit-appearance: none;
}

.icon-date-from{
  font-size: 0.12rem;
  color: #D5EF7F;
}
.icon-date-to{
  font-size: 0.12rem;
  color: #D5EF7F;
  
}
.picker-line {
  display: inline-block;
  width: 0.01rem;
  color: #8560A9;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.1rem 0.1rem 0.1rem;
  border-color: transparent transparent #fff transparent;
}