.tabs {
  height: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px #E8E8E8 solid;
  border-bottom: 1px #E8E8E8 solid;
  text-align: center;
  color: #8C8C8C;
  background-color: #FFF;
  font-size: 0.9rem;
}

.tabs >div {
  height: 1rem;
  line-height: 1rem;
  flex: 1;
}

.tabs svg {
  width: 1.2rem;
  vertical-align: sub;
  margin-right: 0.5rem;
  fill: #8C8C8C;
}

.likes {
  padding-left: 1rem;
  border-right: 1px #E8E8E8 solid;
}

.going {
  border-right: 1px #E8E8E8 solid;
}

.past {
  padding-right: 1rem;
}

.emptyPanel {
  background-color: #FAFAFA;
  padding-top: 5.6rem;
  text-align: center;
  color: #BABABA;
}

.emptyPanel svg {
  width: 4.3rem;
  fill: #D3C1E5;
}

.active {
  color: #AECB4F;
}
.active svg {
  fill: #AECB4F;
}