@import '../../../scss/function';
@import '../../../scss/color';

.no-result {
  padding-top: tounit(120px);
  color: $disabled-text-dark;
  font-size: tounit(14px);
  text-align: center;
  .icon-no-activity {
    display: block;
    margin-bottom: tounit(14px);
    color: $primary-light;
    font-size: tounit(60px);
  }
}
