.main {
  background: linear-gradient(rgba(133,96,169,0.7), rgba(133,96,169,0.9)); /* 标准的语法 */
  box-sizing: border-box;
  padding-top: 4rem;
  height: calc(100vh - 4.6rem);
  position: relative;
}
.bg {
  background-image: url("../../assets/imgs/Street-Dance-01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: calc(100vh - 4.6rem);
}
.smallTitle {
  color: $complement;
  font-weight: $semibold;
  font-size: 1.1rem;
  text-align: center;
}
.bigTitle {
  color: $complement;
  font-weight: $bold;
  margin-top: 1.1rem;
  font-size: 1.7rem;
  text-align: center;
}
.logoContainer {
  border: 0.1rem $complement solid;
  border-radius: 5rem;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.5rem;
  margin: 2.6rem auto;
  :global(.icon-logo-cat) {
    color: $complement;
    font-size: 3.2rem;
  }
}

.input {
  position: absolute;
  width: 100%;
  bottom: 1rem;
}
.user,
.password {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
  input:focus{
    background-color:rgba(255, 255, 255, 0.2);
  }
}

.password {
  margin-top: 1.1rem;
}

.form {
  outline: none;
  background-color: transparent;
  width: 17.1rem;
  height: 2.9rem;
  padding: 0 1rem;
  border: 2px rgba(255,255,255,0.2) solid;
  border-radius: 1.6rem;
  padding-left: 3rem;
}
:global(.icon-user),
:global(.icon-password) {
  color: $primary-light;
  font-size: 1.3rem;
  position: absolute;
  margin-left: 2rem;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $primary-light;
  font-size: 1rem;
  font-weight: $regular;  
}

input {
  background-color: transparent;
  border: none;
  margin-left: 1rem;
  font-size: 1.1rem;
  color: $primary-dark;
}
#userInput{

}
#passwordInput{
  color: $primary-medium;
}

.lang {
  color: $complement;
  text-align: center;
  text-decoration: underline;
  margin-top: 1rem;
  text-decoration:none;
}
.lang span {
  padding: 0 0.5rem;
}

.bottom {
  font-size: 1.1rem;
  font-weight: $semibold;
  color: $primary-dark;
  height: 4.6rem;
  line-height: 4.6rem;
  background-color: $complement;
  text-align: center;
}