@import '../../scss/function';
@import '../../scss/color';

.login-wrapper {
  position: relative;
  padding-top: tounit(69px);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(rgba(133, 96, 169, 0.7), rgba(133, 96, 169, 0.9)),
    url(../../assets/imgs/Street-Dance-01.jpg) no-repeat top center;
  background-size: auto tounit(506);
  .desc {
    margin-bottom: tounit(16px);
    font-size: tounit(14px);
    text-align: center;
    color: $complement;
  }
  .app-name {
    margin-bottom: tounit(36);
    color: $complement;
    font-size: tounit(20);
    font-weight: 600;
    text-align: center;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
    width: tounit(64px);
    height: tounit(64px);
    border: 1px solid $complement;
    border-radius: 50%;
    color: $complement;
    font-size: tounit(50px);
    text-align: center;
    line-height: tounit(64px);
  }
  .submit {
    position: absolute;
    bottom: tounit(0);
    width: 100%;
    height: tounit(64);
    line-height: tounit(64);
    text-align: center;
    font-size: tounit(15);
    color: $primary-dark;
    font-weight: 600;
    background: $complement;
  }
  .userinfo {
    position: absolute;
    bottom: tounit(119);
    width: 100vw;
    padding: 0 tounit(40px);
    box-sizing: border-box;
  }
  .input-group {
    height: tounit(40px);
    padding-top: tounit(8px);
    margin-bottom: tounit(16px);
    border-radius: tounit(40px);
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    .shopee-user,
    .shopee-password {
      position: relative;
      display: inline-block;
      margin-left: tounit(14px);
      margin-right: tounit(8px);
      color: $primary-light;
    }
    .shopee-user {
      bottom: tounit(-1px);
    }
    .shopee-password {
      bottom: tounit(-1px);
    }
  }
  .custom-input {
    -webkit-appearance: none;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
    border: 0px;
    box-sizing: border-box;
    color: $primary-dark;
    display: inline-block;
    font-size: tounit(16px);
    height: tounit(20px);
    line-height: tounit(20px);
    outline: none;
    &::-webkit-input-placeholder {
      color: #ac8ec9;
    }
  }
  button {
    :focus {
      outline: 0;
    }
  }
}
