@font-face {
  font-family: 'SourceSansPro';
  font-weight: 400;
  src: local('SourceSansPro-Regular'), url('../assets/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-weight: 600;
  src: local('SourceSansPro-SemiBold'), url('../assets/fonts/SourceSansPro-SemiBold.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-weight: 700;
  src: local('SourceSansPro-Bold'), url('../assets/fonts/SourceSansPro-Bold.ttf');
}