.main {
  padding: 1.5rem;
}

.comment {
  display: grid;
  grid-template-columns: 15% 70% 10%;
  margin: 1.5rem 0;
}

.avatar img{
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 2rem;
}
.content {

}
.reply {
  text-align: right;
}
.reply svg {
  fill: #D5EF7F;
  width: 1.5rem;
}
.username {
  color:#8560A9;
  font-size: 0.9rem;
}

.time {
  color: #BABABA;
  font-size: 0.7rem;
  padding-left: 1rem;
}
.text {
  color: #67616D;
  margin-top: 0.3rem;
}