/*DetailPage*/
/*分割线*/
.divider::after {
  content: '';
  display: block;
  height: 0.01rem;
  margin-left: 0.16rem;
  background: rgba(232, 232, 232, 1);
}
/*头部样式*/
.content-header{
  position:fixed;
  width: 100%;
  height: auto;
  min-height:0.4rem;
  overflow-y:auto;
  background-color:rgba(133, 96, 169, 1);
}
.menu-button{
  width:0.18rem;
  height:0.18rem;
}
.menu-button .iconfont{
  position: absolute;
  font-size: 0.18rem; 
  top: 0.11rem;
  left: 0.19rem;
  color:rgba(69, 50, 87, 1);
}
.cat{
  width: 0.209rem;
  height: 0.24rem;
  margin:0 auto
}
.cat .iconfont{
  position: absolute;
  color:rgba(213, 239, 127, 1);
  font-size: 0.24rem; 
  top: 0.08rem;
}
.user-avatar{
  position: absolute;
  width:0.24rem;
  height:0.24rem;
  top:0.09rem;
  right:0.14rem;
  border-radius: 50%;
}
/*detail列表*/
.detail-wrapper {
  padding-bottom: 0.56rem;
}
.detail-header {
  padding: 0.56rem 0.16rem 0.24rem 0.16rem;
  border-bottom: 0.01rem solid #e8e8e8;
}
.channel-name {
  display: inline-block;
  margin-bottom: 0.12rem;
  padding: 0.02rem 0.08rem;
  color: rgba(133, 96, 169, 1);
  font-weight: 400;
  font-size: 0.12rem;
  border: 0.01rem solid rgba(211, 193, 229, 1);
  border-radius: 0.1rem;
}
.event-name {
  margin-bottom: 0.2rem;
  color: rgba(69, 50, 87, 1);
  font-size: 0.2rem;
  font-weight: 600;
  line-height: 1.2;
}
.user-avator {
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
  border-radius: 50%;
}
.user-info {
  display: inline-block;
  height: 0.36rem;
  margin-left: 0.12rem;
  vertical-align: 0.06rem;
}
.user-name {
  display: block;
  color: rgba(103, 97, 109, 1);
  font-weight: 400;
  font-size: 0.14rem;
}
.create-time {
  color: rgba(186, 186, 186, 1);
  font-weight: 400;
  font-size: 0.12rem;
}
/*事件框*/
.event-type {
  height: 0.45rem;
  line-height: 0.45rem;
  border-bottom: 0.01rem solid #e8e8e8;
  box-sizing: border-box;
}
.type-item {
  display: inline-block;
  width: 33%;
  height: 0.17rem;
  color: #8c8c8c;
  font-size: 0.12rem;
  text-align: center;
  line-height: 0.17rem;
  border-right: 0.01rem solid #e8e8e8;
}
.type-item :last-child {
  border-right: 0px;
}
.event-type .iconfont{
  margin-right: 0.06rem;
  font-size: 0.16rem;
  vertical-align: -0.01rem;
}
/*事件具体信息框*/
.detail-content .event-info {
  border-bottom: #e8e8e8;
}
.detail-content .event-desc {
  padding: 0.16rem 0.16rem 0.24rem 0.16rem;
  color: rgba(103, 97, 109, 1);
  font-size: 0.12rem;
  line-height: 1.2;
}
.info-box {
  padding: 0.16rem;
}
.event-element {
  margin-bottom: 0.1rem;
  color: rgba(133, 96, 169, 1);
  font-size: 0.16rem;
  line-height: 0.16rem;
}
.event-element ::before{
  content: '';
  display: inline-block;
  height: 0.16rem;
  width: 0.04rem;
  margin-right: 0.08rem;
  border-radius: 0.04rem;
  background: rgba(133, 96, 169, 1);
}

/*时间框*/
.date-box {
  padding: 0.16rem;
}
.date-item {
  display: inline-block;
  width: 49%;
  padding: 0.1rem 0;
  color: rgba(103, 97, 109, 1);
  font-size: 0.16rem;
  text-align: center;
  border-right: 0.01rem solid #e8e8e8;
}

.date-item .iconfont{
  margin-right: 0.06rem;
  color: rgba(213, 239, 127, 1);
}
.date-item :last-child {
  border-right: 0;
}

.main-address,
.sub-address {
  display: block;
  color: rgba(103, 97, 109, 1);
  font-size: 0.14rem;
}
.main-address {
  margin-bottom: 0.04rem;
  font-weight: 600;
}
.google-map{
  text-align:center;
  width: 2.88rem;
  height: 0.88rem;
  margin-top: 0.08rem;
  margin-left:0.16rem;
}
/* join & like */
.user-box {
  padding: 0.16rem;
  padding-bottom: 0;
  border-top: 0.01rem solid #e8e8e8;
}
.join-user,
.like-user {
  padding-top: 0.12rem;
}

.user-type {
  display: inline-block;
  width: 0.75rem;
  color:rgba(103, 97, 109, 1);
  font-size: 0.12rem;
  vertical-align: top;
}

.avator-box {
  display: inline-block;
  width: 2.1rem;
  min-height: 0.2rem;
}

.avator-item {
  display: inline-block;
  width: 0.24rem;
  height: 0.24rem;
  margin-right: 0.06rem;
  margin-bottom: 0.12rem;
  border-radius: 50%;

}
.avator-item:nth-child(7n) {
  margin-right: 0;
}

/*footer样式*/
.detail-footer {
  position:fixed;
  bottom:0;
  width: 3.2rem;
  height:0.56rem;
  text-align: center;
  line-height: 0.68rem;
}
.detail-footer .iconfont{
  font-size: 0.24rem;
}

.left-container {
  display: inline-block;
  height:100%;
  width: 1.8rem;
  color: rgba(103, 97, 109, 1);
  background: rgba(133, 96, 169, 1);
}
.right-container {
  height:100%;
  display: inline-block;
  width: 1.4rem;
  color: rgba(120, 140, 54, 1);
  font-size: 0.14rem;
  background: rgba(213, 239, 127, 1);
}

.left-container .icon-comment-single {
  margin-left: 0.42rem;
}
.left-container .icon-like-outline {
  margin-left: 0.488rem;
}
.right-container .icon-check-outline {
  margin-right: 0.12rem;
}
.text {
  position: relative;
  display: inline-block;
  top: -0.05rem;
}
/* comment */
.comment-box {
  padding-top: 0.24rem;
  border-top: 0.01rem solid #e8e8e8;
}


/*CommentBox*/
.comment-wrapper {
  padding-left: 0.16rem;
  margin-bottom: 0.16rem;
}
.comment-user {
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  margin-right: 0.12rem;
  border-radius: 50%;
}
.comment-box-inner {
  position: relative;
  display: inline-block;
  width: 2.44rem;
  vertical-align: top;
}
.comment-info {
  margin-bottom: 0.04rem;
}
.comment-name {
  display: inline-block;
  margin-right: 0.12rem;
  color: rgba(133, 96, 169, 1);
  font-size: 0.12rem;
}
.comment-time {
  color: rgba(186, 186, 186, 1);
  font-size: 0.1rem;
}
.comment-text {
  padding-right: 0.16rem;
  color: rgba(103, 97, 109, 1);
  font-weight: 400;
  font-size: 0.14rem;
}
.icon-reply{
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(213, 239, 127, 1);
  font-size: 0.16rem;
}